@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="alert alert-info" role="alert">
        You're here because you chose to be here. I didn't pay you to show up and I'm not sharing your detailed personal information with big brother. While you're here you can expect to be relatively safe.
    </div>
</div>


